.idea
bin
obj
*.min.css
*.min.js
*.user
__pycache__
/Notes
/project/__pycache__
.pynb_checkpoints
/project/imgs
/project/training_checkpoints
/project/data
.ipynb_checkpoints/
.ipynb_checkpoints
/project/models
